.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
.notes
.gradle.properties
*.iml
.gradle/*
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/target/
/build/
/bin/
/logs/
/gradle.properties
/projectExt.gradle
.idea/*
/reports/
/out/
**/.settings/*
.gradle
build/
.idea/
.git/
gradle.properties
/classes/*
.DS_Store
